.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: space-between;
    margin: 0 89px;
}

@media (max-width : 1300px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 89px;
    }
}