.container{
    padding-right: 10px;
    
}
.container a {
    text-decoration: none;
    height: 22px;
    background-color: black;
    padding: 0 0.5rem;
    color: #FFF;
    transition: background .2s ease;
}
.container a:hover {
    text-decoration: none;
    background-color: #FFF;
    color: #000;
}

