.container{

}

.banner{
    height: 730px;
    width: 100%;
    object-fit: cover;
}

@media (max-width :600px) {
    .banner{
        height: 25rem;
        width: 100%;
        object-fit: cover;
    }
}